*{
  padding:0;
  margin:0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Navbar{
  background-color:rgb(218, 60, 60);
  color:white;
  padding:10px 50px;
  font-weight: bold;
  text-align: left;
  font-size: 25px;
}

.Search{
  display: inline-block;
  float: right;
  font-size: 18px;
  margin-top: -3px;
  background-color: rgb(65, 14, 14);
  color: white;
  padding:5px 10px;
  box-sizing: border-box;
  border-radius: 55px;
}

.Search > form > input {
  width: 365px;
  font-size: 18px;
  padding: 0px 5px;
  vertical-align: 1px;
  border: none;
  background-color: inherit;
  color: inherit;
}

.closeIcon{
  display:none;
  padding-right:2px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.Search > form  button{
  border: none;
  color: inherit;
  padding: 0px;
  background-color: inherit;
}

.margin-bottom{
  margin-bottom:10px
}

.round-img{
  border-radius: 50%;
  display: block;
}

button.btn.btn-sm > a{
  font-size: 16px;
  color: white;
}